
<div class="page animated" style="animation-duration: 500ms;">
  <!-- Breadcrumbs -->
  <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(<%= image_url 'breadcrumbs-image-1.jpg' %>);">
    <div class="breadcrumbs-custom-inner">
      <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
          <h6 class="breadcrumbs-custom-subtitle title-decorated">Conservatorio de Acordeon</h6>
          <h2 class="breadcrumbs-custom-title">Carrera</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Carrera Conservatorio de Acordeon</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Overview-->
  <section class="section section-lg">
    <div class="container">
      <div class="row row-50 justify-content-center justify-content-lg-between">
        <div class="col-md-10 col-lg-6">
          <h3>Descripcion de la Carrera de Acordeon</h3>
          <p class="big offset-top-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
          <div class="group group-middle"><a class="button button-primary button-winona" href="#our-history" data-waypoint-to="#our-history">Send Message</a><a class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft" href="#"><span class="icon text-primary mdi mdi-facebook-messenger"></span>Messenger</a></div>
        </div>
        <div class="col-md-10 col-lg-6"><img class="img-responsive" src="<%= image_path 'large-features-1-570x368.jpg' %>" alt="" width="570" height="368"/>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg bg-gray-700" id="our-history">
    <div class="container">
      <!-- Timeline Classic-->
      <article class="timeline-classic">
        <div class="timeline-classic-item">
          <div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="<%= image_path 'timeline-1-390x250.jpg' %>" alt="" width="390" height="250"/>
          </div>
          <div class="timeline-classic-item-divider"></div>
          <div class="timeline-classic-item-main">
            <p class="timeline-classic-item-title">December 1995</p>
            <p class="thumbnail-classic-item-subtitle">We Founded the Melody Music School After Gathering a Team of Professional Music Teachers</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
          </div>
        </div>
        <div class="timeline-classic-item">
          <div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="<%= image_path 'timeline-2-390x250.jpg' %>" alt="" width="390" height="250"/>
          </div>
          <div class="timeline-classic-item-divider"></div>
          <div class="timeline-classic-item-main">
            <p class="timeline-classic-item-title">March 2004</p>
            <p class="thumbnail-classic-item-subtitle">Introduction of a New Course: DJ and Beatmaking; Organizing First Public Events</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
          </div>
        </div>
        <div class="timeline-classic-item">
          <div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="<%= image_path 'timeline-3-390x250.jpg' %>" alt="" width="390" height="250"/>
          </div>
          <div class="timeline-classic-item-divider"></div>
          <div class="timeline-classic-item-main">
            <p class="timeline-classic-item-title">April 2010</p>
            <p class="thumbnail-classic-item-subtitle">Getting Nationally Recognized: Our First Awards from US Music Teachers Committee</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
          </div>
        </div>
        <div class="timeline-classic-item">
          <div class="timeline-classic-item-aside"><img class="timeline-classic-item-image" src="<%= image_path 'timeline-4-390x250.jpg' %>" alt="" width="390" height="250"/>
          </div>
          <div class="timeline-classic-item-divider"></div>
          <div class="timeline-classic-item-main">
            <p class="timeline-classic-item-title">May 2018</p>
            <p class="thumbnail-classic-item-subtitle">Introducing More Courses for Children and Adults and Offering Free Masterclasses</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
          </div>
        </div>
      </article>
    </div>
  </section>

  <!-- Who We Are-->
  <section class="section section-lg section-last text-center">
    <div class="container">
      <h3>Who We Are</h3>
      <div class="row row-50">
        <div class="col-sm-6 col-lg-4">
          <!-- Profile Minimal-->
          <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-1-370x368.jpg' %>" alt="" width="370" height="368"/>
            <div class="profile-minimal-caption">
              <h4 class="profile-minimal-title">Sam Clarke</h4>
              <p class="profile-minimal-position">Guitar & Piano Teacher</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Profile Minimal-->
          <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-2-370x368.jpg' %>" alt="" width="370" height="368"/>
            <div class="profile-minimal-caption">
              <h4 class="profile-minimal-title">Kate McMillan</h4>
              <p class="profile-minimal-position">Piano Teacher</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Profile Minimal-->
          <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-3-370x368.jpg' %>" alt="" width="370" height="368"/>
            <div class="profile-minimal-caption">
              <h4 class="profile-minimal-title">John Thompson</h4>
              <p class="profile-minimal-position">DJ Classes Teacher</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Profile Minimal-->
          <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-4-370x368.jpg' %>" alt="" width="370" height="368"/>
            <div class="profile-minimal-caption">
              <h4 class="profile-minimal-title">Mary Williams</h4>
              <p class="profile-minimal-position">Trumpet Teacher</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Profile Minimal-->
          <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-5-370x368.jpg' %>" alt="" width="370" height="368"/>
            <div class="profile-minimal-caption">
              <h4 class="profile-minimal-title">Peter Smith</h4>
              <p class="profile-minimal-position">Hearing Classes Teacher</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Profile Minimal-->
          <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-6-370x368.jpg' %>" alt="" width="370" height="368"/>
            <div class="profile-minimal-caption">
              <h4 class="profile-minimal-title">Nathalie Porter</h4>
              <p class="profile-minimal-position">Founder, Vocal Teacher</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest Events-->
  <section class="section section-lg bg-gray-100">
    <div class="container">
      <h3 class="text-center">Latest Events</h3>
      <div class="row row-50 justify-content-center justify-content-lg-start">
        <div class="col-md-10 col-lg-7 wow-outer">
          <!-- Post Block-->
          <article class="post-block bg-gray-700"><img class="post-block-image" src="<%= image_path 'blog-layouts-5-637x456.jpg' %>" alt="" width="637" height="456"/>
            <div class="post-block-caption">
              <ul class="post-block-meta">
                <li class="wow-outer"><span class="wow slideInLeft">by Theresa Barnes</span></li>
                <li class="wow-outer"><a class="button-winona wow slideInLeft" href="#">Events</a></li>
                <li class="wow-outer">
                  <time class="wow slideInLeft" datetime="2018">April 2, 2018</time>
                </li>
              </ul>
              <h4 class="post-block-title"><a href="single-blog-post.html">Melody Music School Live DJ Set</a></h4>
            </div>
            <div class="post-block-dummy"></div>
          </article>
        </div>
        <div class="col-md-10 col-lg-5">
          <div class="post-light-group wow-outer">
            <!-- Post Light-->
            <article class="post-light wow slideInLeft">
              <time class="post-light-time" datetime="2018"><span class="post-light-time-big">29</span><span class="post-light-time-small">April</span></time>
              <div class="post-light-main">
                <h4 class="post-light-title"><a href="single-blog-post.html">Melody Music School Live DJ Set</a></h4>
                <ul class="post-light-meta">
                  <li>by Theresa Barnes</li>
                  <li><a class="button-winona" href="#">Events</a></li>
                </ul>
              </div>
            </article>
            <!-- Post Light-->
            <article class="post-light wow slideInLeft">
              <time class="post-light-time" datetime="2018"><span class="post-light-time-big">30</span><span class="post-light-time-small">April</span></time>
              <div class="post-light-main">
                <h4 class="post-light-title"><a href="single-blog-post.html">Performing Popular Songs on Piano</a></h4>
                <ul class="post-light-meta">
                  <li>by Theresa Barnes</li>
                  <li><a class="button-winona" href="#">Events</a></li>
                </ul>
              </div>
            </article>
            <!-- Post Light-->
            <article class="post-light wow slideInLeft">
              <time class="post-light-time" datetime="2018"><span class="post-light-time-big">2</span><span class="post-light-time-small">May</span></time>
              <div class="post-light-main">
                <h4 class="post-light-title"><a href="single-blog-post.html">How to Compose Your First Guitar Melody</a></h4>
                <ul class="post-light-meta">
                  <li>by Theresa Barnes</li>
                  <li><a class="button-winona" href="#">Events</a></li>
                </ul>
              </div>
            </article>
          </div>
          <div class="wow-outer button-outer"><a class="button button-primary button-winona wow slideInDown" href="grid-blog.html">View all posts</a></div>
        </div>
      </div>
    </div>
  </section>
</div>
