
    <div class="page">
      <!-- Slider Light-->
      <section class="swiper-container swiper-slider swiper-slider-light context-dark" data-loop="true" data-autoplay="true" data-simulate-touch="false" data-custom-slide-effect="inter-leave-effect" data-inter-leave-offset="-.5">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-slide-bg="<%= image_url 'IMG_HOME_01.jpg' %>">
            <div class="slide-inner">
              <div class="container">
                <div class="swiper-slide-caption">
                  <h2 class="wow-outer"><span class="wow-outer"><span class="wow" data-caption-animate="slideInDown">Conservatorio <span class="trs-italic">Nacional </span></br>De Acordeon </span></span></h2>
                  <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow" href="<%= pages_conservatorio_path %>" data-caption-animate="slideInDown" data-wow-delay=".2s">Ir a Conservatorio</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="<%= image_url 'IMG_HOME_02.jpg' %>">
            <div class="slide-inner">
              <div class="container">
                <div class="swiper-slide-caption">
                  <h1 class="wow-outer"><span class="wow-outer"><span class="wow" data-caption-animate="slideInDown">Descubre <span class="trs-italic">Tus</span> Talentos</span></span></h1>
                  <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow" href="<%= courses_path %>" data-caption-animate="slideInDown" data-wow-delay=".2s">Ir Cursos</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="<%= image_url 'IMG_HOME_03.jpg' %>">
            <div class="slide-inner">
              <div class="container">
                <div class="swiper-slide-caption">
                  <h1 class="wow-outer"><span class="wow-outer"><span class="wow" data-caption-animate="slideInDown">Con <span class="trs-italic">Nuestros</span> Profesores</span></span></h1>
                  <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow" href="<%= pages_profesores_path %>" data-caption-animate="slideInDown" data-wow-delay=".2s">Ir a Profesores</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination-outer container">
          <div class="swiper-pagination swiper-pagination-modern swiper-pagination-marked" data-index-bullet="true"></div>
        </div>
      </section>



      <!-- A Few Words About Us-->
      <section class="section section-lg">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h3 class="wow-outer"><span class="wow slideInDown">Bienvenido a Nuestro Conservatorio!</span></h3>
              <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".05s">Conservatorio Nacional De Acordeon ofrece una formación musical completa a través del aprendizaje activo para niños y adultos. Nuestros educadores musicales están altamente calificados y comparten el amor por la enseñanza.</span></p>
              <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".1s">Nuestro plan de estudios ofrece experiencias en grupo, lecciones privadas, participación en conjunto, Canto y Danza. Creemos que aprender música puede ser divertido, y creemos en la efectividad de aprender en grupos.</span></p>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OXGwCjtJxpc"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>

          </div>
        </div>
      </section>



      <!-- Music Classes-->
      <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3>Clases de Musica</h3>
          <div class="row row-60">
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".1s">
                <div class="novi-icon box-creative-icon linearicons-playlist"></div>
                <h4 class="box-creative-title"><a href="classes.html">Piano</a></h4>
                <p>Want to learn to play piano? Our Piano Lessons are open to everyone. </p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".2s">
                <div class="novi-icon box-creative-icon linearicons-guitar"></div>
                <h4 class="box-creative-title"><a href="classes.html">Guitar</a></h4>
                <p>Learn to play the world’s popular instrument with our guitar classes.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".3s">
                <div class="novi-icon box-creative-icon linearicons-mic"></div>
                <h4 class="box-creative-title"><a href="classes.html">Canto</a></h4>
                <p>Melody offers a wide variety of vocal classes for all ages and skills.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".6s">
                <div class="novi-icon box-creative-icon linearicons-trumpet"></div>
                <h4 class="box-creative-title"><a href="classes.html">Acordeon</a></h4>
                <p>We offer extensive trumpet learning program at our music school.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".5s">
                <div class="novi-icon box-creative-icon linearicons-equalizer"></div>
                <h4 class="box-creative-title"><a href="classes.html">Violin</a></h4>
                <p>DJ music class provides in-depth knowledge and training for aspiring DJs.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".4s">
                <div class="novi-icon box-creative-icon linearicons-hearing"></div>
                <h4 class="box-creative-title"><a href="classes.html">Iniciacion Musical</a></h4>
                <p>Hearing curriculum at our School develops students’ aural skills.</p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Music Groups-->
      <section class="section section-2 text-center">
        <div class="container">
          <h3 class="wow-outer"><span class="wow slideInUp">Cursos Para Diferentes Edades</span></h3>
          <p class="wow-outer"><span class="wow slideInDown text-width-1">Our music school offers a variety of groups to learn music and sharpen your skills. If you prefer private lessons, we have what to offer you and your children.</span></p>
          <div class="row row-30 offset-top-2">
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Thumbnail Light-->
              <article class="thumbnail-light wow slideInLeft"><a class="thumbnail-light-media" href="classes.html"><img class="thumbnail-light-image" src=" <%= image_path'IMG_HOME_05.jpg' %>"  alt="" width="270" height="300"/></a>
                <h5 class="thumbnail-light-title"><a href="<%= courses_path %>">Niños</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Thumbnail Light-->
              <article class="thumbnail-light wow slideInLeft" data-wow-delay=".05s"><a class="thumbnail-light-media" href="classes.html"><img class="thumbnail-light-image" src=" <%= image_path 'IMG_HOME_06.jpg' %>" alt="" width="270" height="300"/></a>
                <h5 class="thumbnail-light-title"><a href="<%= courses_path %>">Adolecentes</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Thumbnail Light-->
              <article class="thumbnail-light wow slideInLeft" data-wow-delay=".1s"><a class="thumbnail-light-media" href="classes.html"><img class="thumbnail-light-image" src=" <%= image_path 'IMG_HOME_07.jpg' %>" alt="" width="270" height="300"/></a>
                <h5 class="thumbnail-light-title"><a href="<%= courses_path %>">Adultos</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Thumbnail Light-->
              <article class="thumbnail-light wow slideInLeft" data-wow-delay=".15s"><a class="thumbnail-light-media" href="classes.html"><img class="thumbnail-light-image" src=" <%= image_path 'IMG_HOME_08.jpg' %>" alt="" width="270" height="300"/></a>
                <h5 class="thumbnail-light-title"><a href="<%= courses_path %>">Clases Individuales </a></h5>
              </article>
            </div>
          </div>
        </div>
      </section>




      <!-- CTA Parallax-->
      <section class="section parallax-container section-1 bg-primary-darker text-center" data-parallax-img="<%= image_path 'IMG_HOME_09.jpg' %>">
        <div class="parallax-content">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-10 col-lg-7 col-xl-6">
                <h3 class="wow-outer"><span class="wow slideInDown">Elije <span class="text-italic font-weight-regular">El Mejor</span> <br> Momento Para Tu Clase</span></h3>
                <p class="wow-outer offset-top-6"><span class="wow slideInDown" data-wow-delay=".05s">Ademas de Elejir El Instrumento Que mas Te Apasiona Tambien Lo Puedes Estudiar En El Horario Que Mas Te Acomode .</span></p>
                <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInDown" href="#" data-wow-delay=".1s">Ir a Cursos</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Testimonials-->
      <section class="section section-lg text-center">
        <div class="container">
          <h3 class="wow-outer"><span class="wow slideInDown">Testimonios</span></h3>
          <!-- Owl Carousel-->
          <div class="owl-carousel wow fadeIn" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-loop="true" data-margin="30" data-stage-padding="0" data-mouse-drag="false" data-autoplay="false">
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'IMG_HOME_10.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Juan Hernandez</cite>
                  <p class="quote-classic-caption">Estudiante, Curso de Acordeon</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>Comencé como estudiante adulto que nunca tuvo ningún entrenamiento musical. Mi profesor dedico tiempo a comprender mis objetivos e incluso me dieron una lección de prueba. Se convirtió en un gran comienzo de mis clases de Acordeon.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'testimonials-person-1-96x96.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Kelly McMillan</cite>
                  <p class="quote-classic-caption">Student, Vocal Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I’ve learned so much with you. You don’t simply observe and correct mistakes. The suggestions you make always have broader implications; you explain the detailed performance of a certain piece.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'testimonials-person-2-96x96.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Harold Barnett</cite>
                  <p class="quote-classic-caption">Student, Hearing Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I am not a seasoned musician but I have some experience in music. Your hearing classes have given me more confidence in identifying notes and chords. I’m very glad to recommend your lessons to everyone.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'IMG_HOME_07.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Albert Webb</cite>
                  <p class="quote-classic-caption">Student, Piano Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I began as adult student that never had any musical training. Your teachers spent time to understand my objectives and even gave me one trial lesson. It became a great beginning of my piano class.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="<%= image_path 'testimonials-person-1-96x96.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Kelly McMillan</cite>
                  <p class="quote-classic-caption">Student, Vocal Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I’ve learned so much with you. You don’t simply observe and correct mistakes. The suggestions you make always have broader implications; you explain the detailed performance of a certain piece.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'testimonials-person-2-96x96.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Harold Barnett</cite>
                  <p class="quote-classic-caption">Student, Hearing Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I am not a seasoned musician but I have some experience in music. Your hearing classes have given me more confidence in identifying notes and chords. I’m very glad to recommend your lessons to everyone.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'testimonials-person-3-96x96.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Albert Webb</cite>
                  <p class="quote-classic-caption">Student, Piano Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I began as adult student that never had any musical training. Your teachers spent time to understand my objectives and even gave me one trial lesson. It became a great beginning of my piano class.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'testimonials-person-1-96x96.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Kelly McMillan</cite>
                  <p class="quote-classic-caption">Student, Vocal Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I’ve learned so much with you. You don’t simply observe and correct mistakes. The suggestions you make always have broader implications; you explain the detailed performance of a certain piece.</p>
              </div>
            </blockquote>
            <blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src=" <%= image_path 'testimonials-person-2-96x96.jpg' %>" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Harold Barnett</cite>
                  <p class="quote-classic-caption">Student, Hearing Class</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I am not a seasoned musician but I have some experience in music. Your hearing classes have given me more confidence in identifying notes and chords. I’m very glad to recommend your lessons to everyone.</p>
              </div>
            </blockquote>
          </div>
        </div>
      </section>

      <!-- Counters Parallax-->
      <section class="section parallax-container section-lg text-center context-dark" data-parallax-img="<%= image_url 'IMG_HOME_11.jpg' %>">
        <div class="parallax-content">
          <div class="container">
            <h3>Algunos Datos Sobre Nuestro Conservatorio</h3>
            <p><span class="text-width-1">We have been helping people sharpen their music skills since our foundation. Below are just some facts and numbers from our history that will tell you more about us.</span></p>
            <div class="row row-50 offset-top-7">
              <div class="col-6 col-md-3">
                <!-- Counter Minimal-->
                <article class="counter-minimal">
                  <div class="novi-icon counter-minimal-icon linearicons-trophy2"></div>
                  <div class="counter-minimal-main">
                    <div class="counter">2</div>
                  </div>
                  <h5 class="counter-minimal-title">Campeones Nacionales</h5>
                </article>
              </div>
              <div class="col-6 col-md-3">
                <!-- Counter Minimal-->
                <article class="counter-minimal">
                  <div class="novi-icon counter-minimal-icon linearicons-music-note2"></div>
                  <div class="counter-minimal-main">
                    <div class="counter">200</div>
                  </div>
                  <h5 class="counter-minimal-title">Estudiantes Satisfechos</h5>
                </article>
              </div>
              <div class="col-6 col-md-3">
                <!-- Counter Minimal-->
                <article class="counter-minimal">
                  <div class="novi-icon counter-minimal-icon linearicons-star"></div>
                  <div class="counter-minimal-main">
                    <div class="counter">+5</div>
                  </div>
                  <h5 class="counter-minimal-title">Años De Experincia</h5>
                </article>
              </div>
              <div class="col-6 col-md-3">
                <!-- Counter Minimal-->
                <article class="counter-minimal">
                  <div class="novi-icon counter-minimal-icon linearicons-users2"></div>
                  <div class="counter-minimal-main">
                    <div class="counter">+7</div>
                  </div>
                  <h5 class="counter-minimal-title">Profesores Calificados</h5>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 4 Our Teachers-->
      <section class="section section-lg text-center">
        <div class="container">
          <h3>Nuestros Profesores</h3>

          <div class="row row-50">
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Profile Classic-->
              <article class="profile-classic wow slideInLeft">
                <div class="profile-classic-main"><img class="profile-classic-image" src=" <%= image_path 'team-1-270x273.jpg' %>" alt="" width="270" height="273"/>
                  <div class="profile-classic-caption">
                    <div class="group group-xs group-middle"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
                  </div>
                </div>
                <h5 class="profile-classic-title"><a href="#">Nathalie Porter</a></h5>
                <p class="profile-classic-position">Founder, Vocal Teacher</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Profile Classic-->
              <article class="profile-classic wow slideInLeft" data-wow-delay=".05s">
                <div class="profile-classic-main"><img class="profile-classic-image" src=" <%= image_path 'team-2-270x273.jpg' %>" alt="" width="270" height="273"/>
                  <div class="profile-classic-caption">
                    <div class="group group-xs group-middle profile-classic-group"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
                  </div>
                </div>
                <h5 class="profile-classic-title"><a href="#">John Thompson</a></h5>
                <p class="profile-classic-position">DJ Classes Teacher</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Profile Classic-->
              <article class="profile-classic wow slideInLeft" data-wow-delay=".1s">
                <div class="profile-classic-main"><img class="profile-classic-image" src=" <%= image_path 'team-3-270x273.jpg' %>" alt="" width="270" height="273"/>
                  <div class="profile-classic-caption">
                    <div class="group group-xs group-middle profile-classic-group"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
                  </div>
                </div>
                <h5 class="profile-classic-title"><a href="#">Mary Williams</a></h5>
                <p class="profile-classic-position">Trumpet Teacher</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3 wow-outer">
              <!-- Profile Classic-->
              <article class="profile-classic wow slideInLeft" data-wow-delay=".15s">
                <div class="profile-classic-main"><img class="profile-classic-image" src=" <%= image_path 'team-4-270x273.jpg' %>" alt="" width="270" height="273"/>
                  <div class="profile-classic-caption">
                    <div class="group group-xs group-middle profile-classic-group"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
                  </div>
                </div>
                <h5 class="profile-classic-title"><a href="#">Sam Clarke</a></h5>
                <p class="profile-classic-position">Guitar Teacher</p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Thin CTA-->
      <section class="section section-xs bg-secondary text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-10 col-md-12">
              <div class="box-cta-thin">
                <h4 class="wow-outer"><span class="wow slideInRight">¡Comienza a aprender <span class="text-italic font-weight-regular">Tu Instrumento Favorito</span> Ahora Mismo!</span></h4>
                <div class="wow-outer button-outer"><a class="button button-primary button-winona wow slideInLeft" href="pricing.html">Matriculate</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <!-- Contacts-->
      <section class="section bg-gray-100">
        <div class="range justify-content-xl-between">
          <div class="cell-xl-6 align-self-center container">
            <div class="row">
              <div class="col-lg-9 cell-inner">
                <div class="section-lg">
                  <h3 class="wow-outer"><span class="wow slideInDown">Contactanos</span></h3>
                  <!-- RD Mailform-->
                  <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd- ">
                    <div class="row row-10">
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-first-name">Nombre</label>
                          <input class="form-input" id="contact-first-name" type="text" name="name" data-constraints="@Required">
                        </div>
                      </div>
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-last-name">Apellido</label>
                          <input class="form-input" id="contact-last-name" type="text" name="name" data-constraints="@Required">
                        </div>
                      </div>
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-email">E-mail</label>
                          <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                        </div>
                      </div>
                      <div class="col-md-6 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-phone">Telefono</label>
                          <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@PhoneNumber">
                        </div>
                      </div>
                      <div class="col-12 wow-outer">
                        <div class="form-wrap wow fadeSlideInUp">
                          <label class="form-label-outside" for="contact-message">Tu Mensaje</label>
                          <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="group group-middle">
                      <div class="wow-outer">
                        <button class="button button-primary button-winona wow slideInRight" type="submit">Enviar</button>
                      </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

            <%= render "shared/googlemaps" %>
        </div>
      </section>

      <!-- Contact Info-->
      <section class="section section-sm">
        <div class="container">
          <div class="layout-bordered">
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-phone text-primary"></div>
                <ul class="list-0">
                  <li><a class="link-default" href="tel:#">1-800-1234-678</a></li>
                  <li><a class="link-default" href="tel:#">1-800-9876-098</a></li>
                </ul>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-email text-primary"></div><a class="link-default" href="mailto:#">info@demolink.org</a>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-map-marker text-primary"></div><a class="link-default" href="#">2130 Fulton Street San Diego, CA 94117-1080 USA</a>
              </div>
            </div>
          </div>
        </div>
      </section>
