
<div class="page animated" style="animation-duration: 500ms;"><!-- Breadcrumbs -->
<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(<%= image_url 'breadcrumbs-image-1.jpg' %>);">
  <div class="breadcrumbs-custom-inner">
    <div class="container breadcrumbs-custom-container">
      <div class="breadcrumbs-custom-main">
        <h6 class="breadcrumbs-custom-subtitle title-decorated">Nuestros</h6>
        <h2 class="breadcrumbs-custom-title">Profesores</h2>
      </div>
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active">Profesores</li>
      </ul>
    </div>
  </div>
</section>
<!-- 4 Column Layout-->
<section class="section section-lg text-center">
  <div class="container">
    <h3>Nuestros Profesores</h3>
    <div class="row row-50">
      <div class="col-sm-6 col-lg-3 wow-outer">
        <!-- Profile Classic-->
        <article class="profile-classic wow slideInLeft">
          <div class="profile-classic-main"><img class="profile-classic-image" src="<%= image_path 'team-1-270x273.jpg'%>" alt="" width="270" height="273"/>
            <div class="profile-classic-caption">
              <div class="group group-xs group-middle"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
            </div>
          </div>
          <h5 class="profile-classic-title"><a href="#">Nathalie Porter</a></h5>
          <p class="profile-classic-position">Founder, Vocal Teacher</p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <!-- Profile Classic-->
        <article class="profile-classic wow slideInLeft" data-wow-delay=".05s">
          <div class="profile-classic-main"><img class="profile-classic-image" src="<%= image_path 'team-2-270x273.jpg'%>" alt="" width="270" height="273"/>
            <div class="profile-classic-caption">
              <div class="group group-xs group-middle profile-classic-group"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
            </div>
          </div>
          <h5 class="profile-classic-title"><a href="#">John Thompson</a></h5>
          <p class="profile-classic-position">DJ Classes Teacher</p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <!-- Profile Classic-->
        <article class="profile-classic wow slideInLeft" data-wow-delay=".1s">
          <div class="profile-classic-main"><img class="profile-classic-image" src="<%= image_path 'team-3-270x273.jpg'%>" alt="" width="270" height="273"/>
            <div class="profile-classic-caption">
              <div class="group group-xs group-middle profile-classic-group"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
            </div>
          </div>
          <h5 class="profile-classic-title"><a href="#">Mary Williams</a></h5>
          <p class="profile-classic-position">Trumpet Teacher</p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-3 wow-outer">
        <!-- Profile Classic-->
        <article class="profile-classic wow slideInLeft" data-wow-delay=".15s">
          <div class="profile-classic-main"><img class="profile-classic-image" src="<%= image_path 'team-4-270x273.jpg'%>" alt="" width="270" height="273"/>
            <div class="profile-classic-caption">
              <div class="group group-xs group-middle profile-classic-group"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-instagram" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a></div>
            </div>
          </div>
          <h5 class="profile-classic-title"><a href="#">Sam Clarke</a></h5>
          <p class="profile-classic-position">Guitar Teacher</p>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- Our Team-->
<section class="section section-lg text-center bg-gray-100">
  <div class="container">
    <h3 class="wow-outer"><span class="wow slideInUp">Our Team</span></h3>
    <div class="row row-50 row-xxl-70 justify-content-center justify-content-lg-start">
      <div class="col-md-10 col-lg-6 wow-outer">
        <!-- Profile Creative-->
        <article class="profile-creative wow slideInLeft">
          <figure class="profile-creative-figure"><img class="profile-creative-image" src="<%= image_path 'team-1-270x273.jpg'%>" alt="" width="270" height="273"/>
          </figure>
          <div class="profile-creative-main">
            <h5 class="profile-creative-title"><a href="#">Nathalie Porter</a></h5>
            <p class="profile-creative-position">Founder, Vocal Teacher</p>
            <div class="profile-creative-contacts">
              <div class="object-inline"><span class="icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </article>
      </div>
      <div class="col-md-10 col-lg-6 wow-outer">
        <!-- Profile Creative-->
        <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
          <figure class="profile-creative-figure"><img class="profile-creative-image" src="<%= image_path 'team-2-270x273.jpg'%>" alt="" width="270" height="273"/>
          </figure>
          <div class="profile-creative-main">
            <h5 class="profile-creative-title"><a href="#">John Thompson</a></h5>
            <p class="profile-creative-position">DJ Classes Teacher</p>
            <div class="profile-creative-contacts">
              <div class="object-inline"><span class="icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </article>
      </div>
      <div class="col-md-10 col-lg-6 wow-outer">
        <!-- Profile Creative-->
        <article class="profile-creative wow slideInLeft">
          <figure class="profile-creative-figure"><img class="profile-creative-image" src="<%= image_path 'team-3-270x273.jpg'%>" alt="" width="270" height="273"/>
          </figure>
          <div class="profile-creative-main">
            <h5 class="profile-creative-title"><a href="#">Mary Williams</a></h5>
            <p class="profile-creative-position">Trumpet Teacher</p>
            <div class="profile-creative-contacts">
              <div class="object-inline"><span class="icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </article>
      </div>
      <div class="col-md-10 col-lg-6 wow-outer">
        <!-- Profile Creative-->
        <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
          <figure class="profile-creative-figure"><img class="profile-creative-image" src="<%= image_path 'team-4-270x273.jpg'%>" alt="" width="270" height="273"/>
          </figure>
          <div class="profile-creative-main">
            <h5 class="profile-creative-title"><a href="#">Sam Clarke</a></h5>
            <p class="profile-creative-position">Guitar Teacher</p>
            <div class="profile-creative-contacts">
              <div class="object-inline"><span class="icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </article>
      </div>
    </div>
    <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInUp" href="#">View all Team</a></div>
  </div>
</section>
<!-- Who We Are-->
<section class="section section-lg section-last text-center">
  <div class="container">
    <h3 class="wow-outer text-center"><span class="wow slideInDown">Who We Are</span></h3>
    <div class="row row-50">
      <div class="col-sm-6 col-lg-4">
        <!-- Profile Minimal-->
        <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-1-370x368.jpg'%>" alt="" width="370" height="368"/>
          <div class="profile-minimal-caption">
            <h4 class="profile-minimal-title"><a href="#">Sam Clarke</a></h4>
            <p class="profile-minimal-position">Guitar & Piano Teacher</p>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Profile Minimal-->
        <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-2-370x368.jpg'%>" alt="" width="370" height="368"/>
          <div class="profile-minimal-caption">
            <h4 class="profile-minimal-title"><a href="#">Kate McMillan</a></h4>
            <p class="profile-minimal-position">Piano Teacher</p>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Profile Minimal-->
        <article class="profile-minimal"><img class="profile-minimal-image" src="<%= image_path 'team-3-370x368.jpg'%>" alt="" width="370" height="368"/>
          <div class="profile-minimal-caption">
            <h4 class="profile-minimal-title"><a href="#">John Thompson</a></h4>
            <p class="profile-minimal-position">DJ Classes Teacher</p>
          </div>
        </article>
      </div>
    </div>
    <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInUp" href="about-us.html">View all Team</a></div>
  </div>
</section>
</div>
