index de course
<br>
listado de cursos
<br>

<section class="section section-lg bg-gray-100 text-center">
  <div class="container">
    <h3>Music Classes</h3>
    <div class="row row-60">
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Creative-->
        <article class="box-creative wow slideInDown" data-wow-delay=".1s">
          <div class="novi-icon box-creative-icon linearicons-playlist"></div>
          <h4 class="box-creative-title"><a href="classes.html">Piano</a></h4>
          <p>Want to learn to play piano? Our Piano Lessons are open to everyone. </p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Creative-->
        <article class="box-creative wow slideInDown" data-wow-delay=".2s">
          <div class="novi-icon box-creative-icon linearicons-guitar"></div>
          <h4 class="box-creative-title"><a href="classes.html">Acordeon</a></h4>
          <p>Learn to play the world’s popular instrument with our guitar classes.</p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Creative-->
        <article class="box-creative wow slideInDown" data-wow-delay=".3s">
          <div class="novi-icon box-creative-icon linearicons-mic"></div>
          <h4 class="box-creative-title"><a href="classes.html">Violin</a></h4>
          <p>Melody offers a wide variety of vocal classes for all ages and skills.</p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Creative-->
        <article class="box-creative wow slideInDown" data-wow-delay=".6s">
          <div class="novi-icon box-creative-icon linearicons-trumpet"></div>
          <h4 class="box-creative-title"><a href="classes.html">Trumpet</a></h4>
          <p>We offer extensive trumpet learning program at our music school.</p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Creative-->
        <article class="box-creative wow slideInDown" data-wow-delay=".5s">
          <div class="novi-icon box-creative-icon linearicons-equalizer"></div>
          <h4 class="box-creative-title"><a href="classes.html">DJ</a></h4>
          <p>DJ music class provides in-depth knowledge and training for aspiring DJs.</p>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <!-- Box Creative-->
        <article class="box-creative wow slideInDown" data-wow-delay=".4s">
          <div class="novi-icon box-creative-icon linearicons-hearing"></div>
          <h4 class="box-creative-title"><a href="classes.html">Hearing</a></h4>
          <p>Hearing curriculum at our School develops students’ aural skills.</p>
        </article>
      </div>
    </div>
  </div>
</section>
<table>
  <thead>
    <tr>
      <th>cursos disponibles</th>
      <th>descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Course', new_course_path %>
