<!--
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Classes</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="page">
      <table>
        <thead>
          <tr>
            <th>cursos disponibles</th>
            <th>descripcion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= link_to 'Show', course %></td>
            <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <%= link_to 'New Course', new_course_path %>

      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(<%= image_url 'breadcrumbs-image-1.jpg' %>);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Classes</h6>
              <h2 class="breadcrumbs-custom-title">Classes</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Classes</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Stroke Icons 3 Column Layout-->
      <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3>Clases de música destacadas</h3>
          <div class="row row-60">
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".1s">
                <div class="novi-icon box-creative-icon linearicons-playlist"></div>
                <h4 class="box-creative-title"><a href="classes.html">Piano</a></h4>
                <p>Want to learn to play piano? Our Piano Lessons are open to everyone. </p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".2s">
                <div class="novi-icon box-creative-icon linearicons-guitar"></div>
                <h4 class="box-creative-title"><a href="classes.html">Guitarra</a></h4>
                <p>Learn to play the world’s popular instrument with our guitar classes.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".3s">
                <div class="novi-icon box-creative-icon linearicons-acordeon"></div>
                <h4 class="box-creative-title"><a href="classes.html">Acordeon</a></h4>
                <p>Melody offers a wide variety of vocal classes for all ages and skills.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".3s">
                <div class="novi-icon box-creative-icon linearicons-mic"></div>
                <h4 class="box-creative-title"><a href="classes.html">Canto</a></h4>
                <p>Melody offers a wide variety of vocal classes for all ages and skills.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".3s">
                <div class="novi-icon box-creative-icon linearicons-mic"></div>
                <h4 class="box-creative-title"><a href="classes.html">Violin</a></h4>
                <p>Melody offers a wide variety of vocal classes for all ages and skills.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Creative-->
              <article class="box-creative wow slideInDown" data-wow-delay=".3s">
                <div class="novi-icon box-creative-icon linearicons-mic"></div>
                <h4 class="box-creative-title"><a href="classes.html">Danza</a></h4>
                <p>Melody offers a wide variety of vocal classes for all ages and skills.</p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Counters-->
      <section class="section section-lg text-center">
        <div class="container">
          <h3>Some Facts About Our School</h3>
          <p><span class="text-width-1">We have been helping people sharpen their music skills since our foundation. Below are just some facts and numbers from our history that will tell you more about us.</span></p>
          <div class="row row-50">
            <div class="col-6 col-md-3">
              <!-- Counter Minimal-->
              <article class="counter-minimal">
                <div class="counter-minimal-icon linearicons-trophy2"></div>
                <div class="counter-minimal-main">
                  <div class="counter">12</div>
                </div>
                <h5 class="counter-minimal-title">International Awards</h5>
              </article>
            </div>
            <div class="col-6 col-md-3">
              <!-- Counter Minimal-->
              <article class="counter-minimal">
                <div class="counter-minimal-icon linearicons-music-note2"></div>
                <div class="counter-minimal-main">
                  <div class="counter">238</div>
                </div>
                <h5 class="counter-minimal-title">Satisfied Students</h5>
              </article>
            </div>
            <div class="col-6 col-md-3">
              <!-- Counter Minimal-->
              <article class="counter-minimal">
                <div class="counter-minimal-icon linearicons-star"></div>
                <div class="counter-minimal-main">
                  <div class="counter">19</div>
                </div>
                <h5 class="counter-minimal-title">Years of Experience</h5>
              </article>
            </div>
            <div class="col-6 col-md-3">
              <!-- Counter Minimal-->
              <article class="counter-minimal">
                <div class="counter-minimal-icon linearicons-users2"></div>
                <div class="counter-minimal-main">
                  <div class="counter">54</div>
                </div>
                <h5 class="counter-minimal-title">Qualified Teachers</h5>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Small Features-->
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Minimal-->
              <article class="box-minimal">
                <div class="box-minimal-icon linearicons-playlist wow fadeIn"></div>
                <div class="box-minimal-main wow-outer">
                  <h4 class="box-minimal-title wow slideInDown">Piano</h4>
                  <p class="wow fadeInUpSmall">Want to learn to play piano? Our Piano Lessons are open to everyone.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Minimal-->
              <article class="box-minimal">
                <div class="box-minimal-icon linearicons-guitar wow fadeIn" data-wow-delay=".1s"></div>
                <div class="box-minimal-main wow-outer">
                  <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".1s">Guitar</h4>
                  <p class="wow fadeInUpSmall" data-wow-delay=".1s">Learn to play the world’s popular instrument with our guitar classes.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Minimal-->
              <article class="box-minimal">
                <div class="box-minimal-icon linearicons-mic wow fadeIn" data-wow-delay=".2s"></div>
                <div class="box-minimal-main wow-outer">
                  <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".2s">Vocal</h4>
                  <p class="wow fadeInUpSmall" data-wow-delay=".2s">Melody offers a wide variety of vocal classes for all ages and skills.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Light 4 Column Layout-->
      <section class="section section-lg text-center">
        <div class="container">
          <h3>Popular Music Classes</h3>
          <p><span class="text-width-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span></p>
          <div class="row row-50 row-xxl-70 offset-top-2">
            <% @courses.each do |course| %>
            <% @course = course %>
              <%= render 'shared/course' %>
            <% end %>
          </div>
        </div>
      </section>


      <!-- Contact Info-->
      <section class="section section-sm">
        <div class="container">
          <div class="layout-bordered">
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-phone text-primary"></div>
                <ul class="list-0">
                  <li><a class="link-default" href="tel:#">1-800-1234-678</a></li>
                  <li><a class="link-default" href="tel:#">1-800-9876-098</a></li>
                </ul>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-email text-primary"></div><a class="link-default" href="mailto:#">info@demolink.org</a>
              </div>
            </div>
            <div class="layout-bordered-item wow-outer">
              <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-map-marker text-primary"></div><a class="link-default" href="#">2130 Fulton Street San Diego, CA 94117-1080 USA</a>
              </div>
            </div>
          </div>
        </div>
      </section>
  <!-- </body>
</html> -->
