<div class="page animated" style="animation-duration: 500ms;">

      <%= form_with(model: post, local: true) do |form| %>
        <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="row row-10">
          <div class="col-md-6 wow-outer">
            <div class="form-wrap wow fadeSlideInUp">
              <%= form.label :image, class:'form-label-outside' %>
              <%= form.file_field :image, class: 'form-input' %>
              <%= form.label :image, class:'form-label-outside' %>

            </div>
          </div>
          <div class="col-md-6 wow-outer">
            <div class="form-wrap wow fadeSlideInUp">
              <%= form.label :title, class:'form-label-outside' %>
              <%= form.text_field :title, class: 'form-input' %>
            </div>
          </div>
          <div class="col-12 wow-outer">
        <div class="form-wrap wow fadeSlideInUp">
            <%= form.label :content, class: 'form-label-outside' %>
            <%= form.text_area :content, class:'form-input'  %>
          </div>
          </div>
        </div>

        <div class="group group-middle">
          <div class="wow-outer">
            <%= form.submit 'Crear Post', class: 'button button-primary button-winona wow slideInRight' %>
          </div>
        </div>
        <% end %>
</div>
