
<table>
  <thead>
  </thead>
</table>


<div class="page animated" style="animation-duration: 500ms;">
  <!-- Breadcrumbs -->
  <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(<%=image_url 'breadcrumbs-image-1.jpg' %>);">
    <div class="breadcrumbs-custom-inner">
      <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
          <h6 class="breadcrumbs-custom-subtitle title-decorated">Blog</h6>
          <h2 class="breadcrumbs-custom-title">Nuestro Blog</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li class="active">Nuestro Blog</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-50 row-xxl-70">
        <% @posts.each do |post| %>

        <div class="col-md-6 scaleFadeInWrap">
          <!-- Post Modern-->
          <div class="wow scaleFadeIn">
            <article class="post-modern"><a class="post-modern-media" href="<%= post_path(post) %>"><img src="<%= post.image.url %>" alt="" width="571" height="353"/></a>

              <h4 class="post-modern-title"><a href="<%= post_path(post) %>"><td><%= post.title %></td></a></h4>
              <ul class="post-modern-meta">
                <li><%= post.user.try(:name) %></li>
                <li>
                  <time datetime="2018"><%= post.created_at %></time>
                </li>
                <li><a class="button-winona" href="#"><%= link_to 'Entrar al Post', post %></a></li>
              </ul>
              <p><%= post.content %></p>

              <% if current_user %>
                <% if current_user.admin? %>
              <tr>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
                <% end %>
              <% end %>
            </article>
          </div>
        </div>
          <% end %>


    <% if current_user %>
      <% if current_user.admin? %>
      <%= link_to 'New Post', new_post_path %>
      <% end %>
    <% end %>

    </div>
  </section>
  </div>
